/*
General styles for klevstul.com
*/

body,p,td,th,h1,h2,h3,ul,pre {
	font-family : Verdana, Helvetica;
	font-size : 10px;
}

textarea,input {
	font-family : Verdana, Helvetica;
	font-size : 12px;
}



/* 10px -> 7pt -> xx-small */

h1 {
   font-size: 18px
}

h2 {
   font-size: 14px
}

h3 {
   font-size: 10px
}
